build
*.swp
*.swo
*~
src/obj
src/local.properties
src/default.properties
src/libs/armeabi
dist
*.pyc
testsuite
.packages

#ECLIPSE + PYDEV
.project
.pydevproject

.deps

.optional-deps

ksoap2-android-assembly-2.6.5-jar-with-dependencies.jar
magtek-scra.jar

